Source: multiflexi
Section: web
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, moreutils, pkg-php-tools, php-yaml, php-intl, php-simplexml, composer, php-cli
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/MultiFlexi

Package: multiflexi
Multi-Arch: foreign
Depends: ${misc:Depends},
 multiflexi-common,
Recommends: multiflexi-scheduler, multiflexi-web|multiflexi-web5
Architecture: all
Description: Run various tools on top of not even AbraFlexi and Stormware Pohoda
 Define server, customers and its companies. Then specify
 which services/commands run upon it.

Package: multiflexi-common
Multi-Arch: foreign
Depends: ${misc:Depends}
 locales-all,
 php-vitexsoftware-multiflexi-core,
 anacron, adduser (>= 3.11),
 php-cli,
Replaces: multiflexi (<< 2.0.0)
Suggests: multiflexi-cli, multiflexi-web|multiflexi-web5
Architecture: all
Description: shared multiflexi configuration
 Create MultiFlexi user and configuration

Package: multiflexi-api
Pre-Depends: multiflexi-sqlite (>= 2.4.1) | multiflexi-mysql (>= 2.4.1) | multiflexi-pgsql (>= 2.4.1)
Depends: ${misc:Depends}, php-vitexsoftware-multiflexi-server, php-yaml, multiflexi-web|multiflexi-web5
Architecture: all
Description: API Server for MultiFlexi
 json/xml/yaml/html interface

Package: multiflexi-zabbix
Depends: ${misc:Depends},multiflexi-executor
Recommends: zabbix-agent2
Architecture: all
Description: Zabbix support for MultiFlexi
 LLD for configured content

